<div ng-controller = "ControllerListCtrl">
    <div class = "signin-banner">Controllers</div>

    <div class = "signin-form">
        <div>Add a controller? <button ng-click = "addController()">Add </button></div>
        <div>Controllers:</div>
        <ol>
            <li ng-repeat = "controller in controllers">
                <div ng-click = "editCtrl()">{{controller.serial}}</div>
                <div>{{controller.street}}</div>
                <div>{{controller.numStations}}</div>
            </li>
        </ol>
    </div>
</div>