<div ng-controller = "ControllerListCtrl">
    <div class = "signin-banner">Controllers</div>

    <div class = "signin-form">
        <div>Controllers: <button ng-click = "editControllers()">Edit</button></div>
        <ol>
            <li ng-repeat = "controller in controllers | filter:filter">
                <div>
                    <a ng-href = '/info/{{controller.serial}}'><div>
                        <div>{{controller.serial}}</div>
                        <div>{{controller.street}}</div>
                    </div></a>
                </div>
            </li>
        </ol>
        <button ng-click = "showFilter = !showFilter">Find</button><button ng-click = "editApp()">App Settings</button>
        <div ng-show = "showFilter">
            <input type = "text" ng-model = "filter">
        </div>
    </div>
</div>